@{
    ViewBag.Title = "Home Page";
}



<button id="openButton" onclick="openPicker()">Open Picker Button</button>
<img id="imgTag" style="height:200px; width: 200px; border: none;" />
<video id="vidTag" controls="controls"></video>
<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<script type="text/javascript">
    var fsClient = filestack.init('A2SRemgNRSCQt4ifZoCbUz'); //api key
    function openPicker() {
        fsClient.pick({
            accept: 'image/*',
            //accept: 'video/*',
            minFiles: 1,
            maxFiles: 1,
            maxSize: (100 * 1024 * 1024)
        }).then(function (response) {
            console.log(response);
            $('#imgTag').attr("src", response.filesUploaded[0].url);
            //$('#vidTag').attr("src", response.filesUploaded[0].url);


        });
    }

    function SaveMyShit (response) {

        response.save = function (data, filename) {

            if (!data) {
                response.error('Console.save: No data')
                return;
            }

            if (!filename) filename = 'console.json'

            if (typeof data === "object") {
                data = JSON.stringify(data, undefined, 4)
            }

            var blob = new Blob([data], { type: 'text/json' }),
                e = document.createEvent('MouseEvents'),
                a = document.createElement('a')

            a.download = filename
            a.href = window.URL.createObjectURL(blob)
            a.dataset.downloadurl = ['text/json', a.download, a.href].join(':')
            e.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null)
            a.dispatchEvent(e)
        }
    }
</script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>