USE [master]
GO
/****** Object:  Database [Phyt-RX]    Script Date: 4/6/2018 2:08:35 PM ******/
CREATE DATABASE [Phyt-RX]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Phyt-RX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Phyt-RX]
GO
/****** Object:  Table [dbo].[Duration]    Script Date: 4/6/2018 2:08:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duration](
	[DurID] [int] IDENTITY(1,1) NOT NULL,
	[DurName] [int] NOT NULL,
	[Reps] [int] NOT NULL,
	[Sets] [int] NOT NULL,
	[Holds] [int] NULL,
	[Bands] [nvarchar](20) NULL,
	[Weights] [int] NULL,
	[PerDays] [int] NOT NULL,
	[XDays] [int] NOT NULL,
	[ExID] [int] NOT NULL,
 CONSTRAINT [PK_Duration] PRIMARY KEY CLUSTERED 
(
	[DurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exercise]    Script Date: 4/6/2018 2:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercise](
	[ExID] [int] IDENTITY(1,1) NOT NULL,
	[ExName] [nvarchar](200) NOT NULL,
	[ExDesc] [nvarchar](max) NOT NULL,
	[ExPic1] [image] NULL,
	[ExPic2] [image] NULL,
	[ExPic3] [image] NULL,
	[ExPic4] [image] NULL,
	[ExVid] [image] NULL,
	[RxID] [int] NOT NULL,
	[DurID] [int] NOT NULL,
 CONSTRAINT [PK_Exercise] PRIMARY KEY CLUSTERED 
(
	[ExID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 4/6/2018 2:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogTimeStamp] [timestamp] NOT NULL,
	[PainNumb] [int] NOT NULL,
	[DiffNumb] [int] NOT NULL,
	[ComTxt] [nvarchar](200) NULL,
	[IsComplete] [bit] NOT NULL,
	[FullSet] [int] NULL,
	[PartialSet] [int] NULL,
	[PID] [int] NOT NULL,
	[PhID] [int] NOT NULL,
	[RxID] [int] NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 4/6/2018 2:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[PFName] [nvarchar](50) NOT NULL,
	[PLName] [nvarchar](50) NOT NULL,
	[PPic] [image] NULL,
	[PhID] [int] NOT NULL,
	[LogID] [int] NOT NULL,
	[RxID] [int] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Physicians]    Script Date: 4/6/2018 2:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Physicians](
	[PhID] [int] IDENTITY(1,1) NOT NULL,
	[PhFName] [nvarchar](50) NOT NULL,
	[PhLName] [nvarchar](50) NOT NULL,
	[PhPic] [image] NULL,
	[PID] [int] NOT NULL,
	[LogID] [int] NULL,
	[RxID] [int] NOT NULL,
 CONSTRAINT [PK_Physicians] PRIMARY KEY CLUSTERED 
(
	[PhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RX]    Script Date: 4/6/2018 2:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RX](
	[RxID] [int] IDENTITY(1,1) NOT NULL,
	[RxName] [nvarchar](100) NOT NULL,
	[ExID] [int] NOT NULL,
	[PID] [int] NOT NULL,
	[PhID] [int] NOT NULL,
	[LogID] [int] NOT NULL,
 CONSTRAINT [PK_RX] PRIMARY KEY CLUSTERED 
(
	[RxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Duration]  WITH CHECK ADD  CONSTRAINT [FK_Duration_Exercise] FOREIGN KEY([ExID])
REFERENCES [dbo].[Exercise] ([ExID])
GO
ALTER TABLE [dbo].[Duration] CHECK CONSTRAINT [FK_Duration_Exercise]
GO
ALTER TABLE [dbo].[Exercise]  WITH CHECK ADD  CONSTRAINT [FK_Exercise_RX] FOREIGN KEY([RxID])
REFERENCES [dbo].[RX] ([RxID])
GO
ALTER TABLE [dbo].[Exercise] CHECK CONSTRAINT [FK_Exercise_RX]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Patient] FOREIGN KEY([PID])
REFERENCES [dbo].[Patient] ([PID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Patient]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Physicians] FOREIGN KEY([PhID])
REFERENCES [dbo].[Physicians] ([PhID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Physicians]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_RX] FOREIGN KEY([RxID])
REFERENCES [dbo].[RX] ([RxID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_RX]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Physicians] FOREIGN KEY([PhID])
REFERENCES [dbo].[Physicians] ([PhID])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Physicians]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_RX] FOREIGN KEY([RxID])
REFERENCES [dbo].[RX] ([RxID])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_RX]
GO
ALTER TABLE [dbo].[Physicians]  WITH CHECK ADD  CONSTRAINT [FK_Physicians_RX] FOREIGN KEY([RxID])
REFERENCES [dbo].[RX] ([RxID])
GO
ALTER TABLE [dbo].[Physicians] CHECK CONSTRAINT [FK_Physicians_RX]
GO
USE [master]
GO
